body {
  background: rgb(247,143,173);
  background: linear-gradient(90deg, rgba(247,143,173,1) 0%, rgba(253,235,130,1) 100%);
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins';
  font-weight: 700;
}

// .logo_svg{
//   border-bottom: 2px solid white;
// }

.section-title{
  color: white;
  font-family: 'Josefin Sans';
  font-weight: 300;
  border-bottom: 1px solid white;
  display: inline-block;
}